ipykernel
ipython
ipywidgets
jedi-language-server
jupyter
jupyter-book
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyter-server-proxy
jupyter-tensorboard-proxy 
jupyter-resource-usage
jupyter-vscode-proxy
jupyterlab
jupyterlab-lsp
jupyterlab-git
jupyterlab_myst
jupyterlab-pygments
jupyterlab-quarto
jupyterlab_server
jupyterlab-theme-solarized-dark
jupyterlab-widgets
jupytext
nbclient
nbconvert
nbformat
notebook
notebook_shim
pandocfilters
Glances
gh-scoped-creds

