Glances
gh-scoped-creds
ipykernel
ipython
ipywidgets
jupyter
jupyter-book
jupyter-console
jupyter-events
jupyter-ai
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyter-server-proxy
jupyter-tensorboard-proxy 
jupyter-resource-usage
jupyter-vscode-proxy
jupyterlab
jupyterlab-git
jupyterlab_myst
jupyterlab-pygments
jupyterlab-quarto
jupyterlab_server
jupyterlab-theme-solarized-dark
jupyterlab-widgets
jupytext
mystmd
nbclient
nbconvert
nbformat
notebook

