altair
dask
distributed
earthaccess
fiona
fsspec
geopandas
geocube
leafmap[raster]
localtileserver
#lonboard
mapclassify
maplibre
minio
netCDF4
odc-geo
odc-stac
planetary-computer
pmtiles
polars
pyarrow
pydeck
pyogrio
pystac
pystac-client
rasterio
rasterstats
requests
rio-cogeo
rioxarray
stackstac
streamlit
streamlit-folium
tqdm
xarray
zarr

